<div class="row">
  <div class="col-8 offset-2">
    <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="email" name="email" class = "form-control" ngModel />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class = "form-control" ngModel />
      </div>
      <input type="submit" class="btn btn-primary" />
    </form>
  </div>
</div>
