<div class="row">
  <div class="col-12">
    <form (ngSubmit) = "onSub(shoppingEditForm)" #shoppingEditForm="ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            #nameInput/>
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            pattern="^[1-9]+[0-9]*$"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            reuired
            #amountInput/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input
            type="submit"
            [value]="editMode ? 'Update' : 'Add'"
            class="btn btn-success"
            [disabled]="shoppingEditForm.invalid" />
          <input type="button" value="Delete" class="btn btn-danger" (click)="onDelete(shoppingEditForm)" />
          <input type="button" value="Clear" class="btn btn-primary" (click)="onClear()" />
        </div>
      </div>
    </form>
  </div>
</div>
